.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 5px 10px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  min-width: 25px;
  margin-right: 5px;
  background-color: var(--letter-default-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  border: 2px solid transparent;
}
.letter.selected {
  border-color: var(--primary-text-color);
}
.letter.match {
  color: #fff;
  background-color: var(--letter-exact-match-color);
}
.letter.inWord {
  color: #fff;
  background-color: var(--letter-word-match-color);
}
.letter.notFound {
  color: #fff;
  background-color: var(--letter-no-match-color);
}
