.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-text-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.root.match {
  color: #fff;
  background-color: var(--letter-exact-match-color);
}
.root.inWord {
  color: #fff;
  background-color: var(--letter-word-match-color);
}
.root.notFound {
  color: #fff;
  background-color: var(--letter-no-match-color);
}
